In [29]:
import pandas as pd
#nyc_crime = pd.read_csv('NYPD_Complaint_Data_Historic.csv', nrows=1000)

ems = pd.read_csv('EMS_Incident_Dispatch_Data.csv')

C:\Users\PaulDS3\anaconda3_2020_07\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (7,8,11,17,21,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [30]:
ems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23167058 entries, 0 to 23167057
Data columns (total 31 columns):
 #   Column                          Dtype
---  ------                          -----
 0   CAD_INCIDENT_ID                 int64
 1   INCIDENT_DATETIME               object
 2   INITIAL_CALL_TYPE               object
 3   INITIAL_SEVERITY_LEVEL_CODE     int64
 4   FINAL_CALL_TYPE                 object
 5   FINAL_SEVERITY_LEVEL_CODE       int64
 6   FIRST_ASSIGNMENT_DATETIME       object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  object
 8   DISPATCH_RESPONSE_SECONDS_QY    object
 9   FIRST_ACTIVATION_DATETIME       object
 10  FIRST_ON_SCENE_DATETIME         object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  object
 12  INCIDENT_RESPONSE_SECONDS_QY    object
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   object
 14  FIRST_TO_HOSP_DATETIME          object
 15  FIRST_HOSP_ARRIVAL_DATETIME     object
 16  INCIDENT_CLOSE_DATETIME         object
 17  HELD_INDICATOR                  object
 18  INCIDENT_DISPOSITION_CODE       float64
 19  BOROUGH                         object
 20  INCIDENT_DISPATCH_AREA          object
 21  ZIPCODE                         object
 22  POLICEPRECINCT                  float64
 23  CITYCOUNCILDISTRICT             float64
 24  COMMUNITYDISTRICT               float64
 25  COMMUNITYSCHOOLDISTRICT         float64
 26  CONGRESSIONALDISTRICT           float64
 27  REOPEN_INDICATOR                object
 28  SPECIAL_EVENT_INDICATOR         object
 29  STANDBY_INDICATOR               object
 30  TRANSFER_INDICATOR              object
dtypes: float64(6), int64(3), object(22)
memory usage: 5.4+ GB

In [63]:
!pip install pandas
!pip install sodapy

Requirement already satisfied: pandas in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (1.0.5)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (from pandas) (1.21.2)
Requirement already satisfied: six>=1.5 in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Collecting sodapy
  Downloading sodapy-2.2.0-py2.py3-none-any.whl (15 kB)
Collecting requests>=2.28.1
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
Requirement already satisfied: idna<4,>=2.5 in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (from requests>=2.28.1->sodapy) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (from requests>=2.28.1->sodapy) (2020.6.20)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\paulds3\anaconda3_2020_07\lib\site-packages (from requests>=2.28.1->sodapy) (1.25.9)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp38-cp38-win_amd64.whl (96 kB)
Installing collected packages: charset-normalizer, requests, sodapy
  Attempting uninstall: requests
    Found existing installation: requests 2.24.0
    Uninstalling requests-2.24.0:
      Successfully uninstalled requests-2.24.0
Successfully installed charset-normalizer-3.1.0 requests-2.28.2 sodapy-2.2.0

ERROR: conda 4.10.3 requires ruamel_yaml_conda>=0.11.14, which is not installed.

In [27]:
import pandas as pd
import requests

#data=requests.get('https://data.cityofnewyork.us/resource/qgea-i56i.json?cmplnt_fr_dt=2011-01-01T00:00:00.000').json()
data=requests.get('https://data.cityofnewyork.us/resource/5uac-w243.json?cmplnt_fr_dt >= 2023-01-01T00:00:00.000').json()
df=pd.DataFrame.from_records(data)
df

ValueError: If using all scalar values, you must pass an index

In [28]:
ems=requests.get('https://data.cityofnewyork.us/resource/76xm-jjuj.json?$limit=1000000')
ems_df=pd.DataFrame.from_records(ems)
ems_df

TypeError: object of type 'Response' has no len()

In [70]:
nyc_crime=df

In [67]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cityofnewyork.us", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cityofnewyork.us,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("qgea-i56i", "where cmplnt_fr_dt=2018-03-29T00:00:00.000")

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

HTTPError: 404 Client Error: Not Found.
	No service found for this URL.

In [66]:
results_df

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,pd_desc,crm_atpt_cptd_cd,...,susp_age_group,susp_race,susp_sex,cmplnt_to_dt,cmplnt_to_tm,transit_district,station_name,parks_nm,housing_psa,hadevelopt
0,506547392,2018-03-29T00:00:00.000,20:30:00,32,2018-03-30T00:00:00.000,351,CRIMINAL MISCHIEF & RELATED OF,254,"MISCHIEF, CRIMINAL 4, OF MOTOR",COMPLETED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,629632833,2018-02-06T00:00:00.000,23:15:00,52,2018-02-07T00:00:00.000,341,PETIT LARCENY,333,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,...,45-64,BLACK,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,787203902,2018-11-21T00:00:00.000,00:15:00,75,2018-11-21T00:00:00.000,341,PETIT LARCENY,321,"LARCENY,PETIT FROM AUTO",COMPLETED,...,25-44,WHITE HISPANIC,F,2018-11-21T00:00:00.000,00:20:00,NaN,NaN,NaN,NaN,NaN
3,280364018,2018-06-09T00:00:00.000,21:42:00,10,2018-06-10T00:00:00.000,361,OFF. AGNST PUB ORD SENSBLTY &,639,AGGRAVATED HARASSMENT 2,COMPLETED,...,25-44,WHITE HISPANIC,M,2018-06-09T00:00:00.000,21:43:00,NaN,NaN,NaN,NaN,NaN
4,985800320,2018-11-10T00:00:00.000,19:40:00,19,2018-11-10T00:00:00.000,341,PETIT LARCENY,333,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,...,<18,BLACK HISPANIC,F,2018-11-10T00:00:00.000,19:45:00,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,778085705,2018-07-05T00:00:00.000,18:50:00,52,2018-08-06T00:00:00.000,343,THEFT OF SERVICES,475,UNAUTH. SALE OF TRANS. SERVICE,COMPLETED,...,18-24,BLACK,M,2018-07-05T00:00:00.000,18:51:00,11,205 ST.-NORWOOD,NaN,NaN,NaN
1996,675524822,2018-03-26T00:00:00.000,12:40:00,50,2018-03-26T00:00:00.000,341,PETIT LARCENY,343,"LARCENY,PETIT OF BICYCLE",COMPLETED,...,NaN,NaN,NaN,2018-03-26T00:00:00.000,12:45:00,NaN,NaN,NaN,NaN,NaN
1997,349786120,2018-11-05T00:00:00.000,17:40:00,28,2018-11-05T00:00:00.000,106,FELONY ASSAULT,109,"ASSAULT 2,1,UNCLASSIFIED",COMPLETED,...,UNKNOWN,BLACK,M,2018-11-05T00:00:00.000,17:45:00,NaN,NaN,NaN,NaN,NaN
1998,360785029,2018-01-28T00:00:00.000,20:50:00,67,2018-01-28T00:00:00.000,341,PETIT LARCENY,333,"LARCENY,PETIT FROM STORE-SHOPL",COMPLETED,...,25-44,BLACK,F,2018-01-28T00:00:00.000,20:55:00,NaN,NaN,NaN,NaN,NaN
1999,179783781,2018-07-11T00:00:00.000,10:05:00,108,2018-07-11T00:00:00.000,344,ASSAULT 3 & RELATED OFFENSES,101,ASSAULT 3,COMPLETED,...,25-44,WHITE HISPANIC,M,2018-07-11T00:00:00.000,10:15:00,NaN,NaN,NaN,NaN,NaN

In [10]:
!pip install geopy

Collecting geopy
  Downloading geopy-2.3.0-py3-none-any.whl (119 kB)
Collecting geographiclib<3,>=1.52
  Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.0 geopy-2.3.0

In [ ]:
sample_nyc_crime = nyc_crime.sample(n=1000, replace='False')
sample_ems = ems.sample(n=1000, replace='False')

In [6]:
nyc_crime.head()

,CMPLNT_NUM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,ADDR_PCT_CD,RPT_DT,KY_CD,OFNS_DESC,PD_CD,...,SUSP_SEX,TRANSIT_DISTRICT,Latitude,Longitude,Lat_Lon,PATROL_BORO,STATION_NAME,VIC_AGE_GROUP,VIC_RACE,VIC_SEX
0,506547392,03/29/2018,20:30:00,NaN,NaN,32.0,03/30/2018,351,CRIMINAL MISCHIEF & RELATED OF,254.0,...,NaN,NaN,40.810877,-73.941064,"(40.810877241, -73.941064151)",PATROL BORO MAN NORTH,NaN,25-44,WHITE,F
1,629632833,02/06/2018,23:15:00,NaN,NaN,52.0,02/07/2018,341,PETIT LARCENY,333.0,...,F,NaN,40.873671,-73.908014,"(40.873671035, -73.908013649)",PATROL BORO BRONX,NaN,UNKNOWN,UNKNOWN,D
2,787203902,11/21/2018,00:15:00,11/21/2018,00:20:00,75.0,11/21/2018,341,PETIT LARCENY,321.0,...,F,NaN,40.651782,-73.885457,"(40.651782232, -73.885456761)",PATROL BORO BKLYN NORTH,NaN,UNKNOWN,UNKNOWN,D
3,280364018,06/09/2018,21:42:00,06/09/2018,21:43:00,10.0,06/10/2018,361,OFF. AGNST PUB ORD SENSBLTY &,639.0,...,M,NaN,40.759310,-73.994706,"(40.759310399, -73.994706072)",PATROL BORO MAN SOUTH,NaN,18-24,WHITE HISPANIC,F
4,985800320,11/10/2018,19:40:00,11/10/2018,19:45:00,19.0,11/10/2018,341,PETIT LARCENY,333.0,...,F,NaN,40.764536,-73.970728,"(40.764535539, -73.970728388)",PATROL BORO MAN NORTH,NaN,UNKNOWN,UNKNOWN,D

In [28]:
#nyc_crime['Date'] = nyc_crime['CMPLNT_FR_DT']
crime['Date'] = crime['CMPLNT_FR_DT']

In [8]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 35 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CMPLNT_NUM         100000 non-null  int64
 1   CMPLNT_FR_DT       100000 non-null  object
 2   CMPLNT_FR_TM       100000 non-null  object
 3   CMPLNT_TO_DT       85666 non-null   object
 4   CMPLNT_TO_TM       85718 non-null   object
 5   ADDR_PCT_CD        99998 non-null   float64
 6   RPT_DT             100000 non-null  object
 7   KY_CD              100000 non-null  int64
 8   OFNS_DESC          99985 non-null   object
 9   PD_CD              99948 non-null   float64
 10  PD_DESC            99948 non-null   object
 11  CRM_ATPT_CPTD_CD   100000 non-null  object
 12  LAW_CAT_CD         100000 non-null  object
 13  BORO_NM            99947 non-null   object
 14  LOC_OF_OCCUR_DESC  81710 non-null   object
 15  PREM_TYP_DESC      99596 non-null   object
 16  JURIS_DESC         100000 non-null  object
 17  JURISDICTION_CODE  99948 non-null   float64
 18  PARKS_NM           867 non-null     object
 19  HADEVELOPT         4981 non-null    object
 20  HOUSING_PSA        7460 non-null    object
 21  X_COORD_CD         99997 non-null   object
 22  Y_COORD_CD         99997 non-null   object
 23  SUSP_AGE_GROUP     73853 non-null   object
 24  SUSP_RACE          74158 non-null   object
 25  SUSP_SEX           74150 non-null   object
 26  TRANSIT_DISTRICT   2597 non-null    float64
 27  Latitude           99997 non-null   float64
 28  Longitude          99997 non-null   float64
 29  Lat_Lon            99997 non-null   object
 30  PATROL_BORO        99948 non-null   object
 31  STATION_NAME       2597 non-null    object
 32  VIC_AGE_GROUP      99540 non-null   object
 33  VIC_RACE           100000 non-null  object
 34  VIC_SEX            100000 non-null  object
dtypes: float64(6), int64(2), object(27)
memory usage: 26.7+ MB

In [31]:
ems.head()

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,ZIPCODE,POLICEPRECINCT,CITYCOUNCILDISTRICT,COMMUNITYDISTRICT,COMMUNITYSCHOOLDISTRICT,CONGRESSIONALDISTRICT,REOPEN_INDICATOR,SPECIAL_EVENT_INDICATOR,STANDBY_INDICATOR,TRANSFER_INDICATOR
0,110010790,01/01/2011 02:19:47 AM,UNC,2,UNC,2,01/01/2011 02:21:14 AM,Y,87,01/01/2011 02:21:31 AM,...,10030,32.0,9.0,110.0,5.0,13.0,N,N,N,N
1,110010791,01/01/2011 02:19:49 AM,EDP,7,EDP,7,NaN,N,0,NaN,...,10029,25.0,8.0,111.0,4.0,13.0,N,N,N,N
2,110010792,01/01/2011 02:19:52 AM,UNKNOW,3,UNKNOW,3,01/01/2011 02:25:05 AM,Y,313,01/01/2011 02:25:10 AM,...,10016,14.0,4.0,105.0,2.0,12.0,N,N,N,N
3,110010793,01/01/2011 02:19:56 AM,UNC,2,UNC,2,01/01/2011 02:20:31 AM,Y,35,01/01/2011 02:20:37 AM,...,11213,77.0,36.0,308.0,17.0,9.0,N,N,N,N
4,110010794,01/01/2011 02:20:05 AM,INJURY,5,INJURY,5,01/01/2011 03:29:04 AM,Y,"4,139",01/01/2011 03:29:04 AM,...,10022,18.0,4.0,105.0,2.0,12.0,N,N,N,N

In [32]:
ems['Date'] = pd.to_datetime(ems['INCIDENT_DATETIME']).dt.date

In [33]:
ems['hour'] = pd.to_datetime(ems['INCIDENT_DATETIME']).dt.hour

In [34]:
ems['hour']

0            2
1            2
2            2
3            2
4            2
            ..
23167053    23
23167054    23
23167055    23
23167056    23
23167057    23
Name: hour, Length: 23167058, dtype: int64

In [35]:
ems['Date']

0           2011-01-01
1           2011-01-01
2           2011-01-01
3           2011-01-01
4           2011-01-01
               ...
23167053    2022-03-31
23167054    2022-03-31
23167055    2022-03-31
23167056    2022-03-31
23167057    2022-03-31
Name: Date, Length: 23167058, dtype: object

In [36]:
ems['zipcode']=ems['ZIPCODE']

In [37]:
ems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23167058 entries, 0 to 23167057
Data columns (total 34 columns):
 #   Column                          Dtype
---  ------                          -----
 0   CAD_INCIDENT_ID                 int64
 1   INCIDENT_DATETIME               object
 2   INITIAL_CALL_TYPE               object
 3   INITIAL_SEVERITY_LEVEL_CODE     int64
 4   FINAL_CALL_TYPE                 object
 5   FINAL_SEVERITY_LEVEL_CODE       int64
 6   FIRST_ASSIGNMENT_DATETIME       object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  object
 8   DISPATCH_RESPONSE_SECONDS_QY    object
 9   FIRST_ACTIVATION_DATETIME       object
 10  FIRST_ON_SCENE_DATETIME         object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  object
 12  INCIDENT_RESPONSE_SECONDS_QY    object
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   object
 14  FIRST_TO_HOSP_DATETIME          object
 15  FIRST_HOSP_ARRIVAL_DATETIME     object
 16  INCIDENT_CLOSE_DATETIME         object
 17  HELD_INDICATOR                  object
 18  INCIDENT_DISPOSITION_CODE       float64
 19  BOROUGH                         object
 20  INCIDENT_DISPATCH_AREA          object
 21  ZIPCODE                         object
 22  POLICEPRECINCT                  float64
 23  CITYCOUNCILDISTRICT             float64
 24  COMMUNITYDISTRICT               float64
 25  COMMUNITYSCHOOLDISTRICT         float64
 26  CONGRESSIONALDISTRICT           float64
 27  REOPEN_INDICATOR                object
 28  SPECIAL_EVENT_INDICATOR         object
 29  STANDBY_INDICATOR               object
 30  TRANSFER_INDICATOR              object
 31  Date                            object
 32  hour                            int64
 33  zipcode                         object
dtypes: float64(6), int64(4), object(24)
memory usage: 5.9+ GB

In [71]:
#nyc_crime

,cmplnt_num,cmplnt_fr_dt,cmplnt_fr_tm,cmplnt_to_dt,cmplnt_to_tm,addr_pct_cd,rpt_dt,ky_cd,ofns_desc,pd_cd,...,latitude,longitude,lat_lon,patrol_boro,vic_age_group,vic_race,vic_sex,parks_nm,transit_district,station_name
0,480058671,2011-01-01T00:00:00.000,08:00:00,2011-12-31T00:00:00.000,23:59:00,122,2018-06-24T00:00:00.000,104,RAPE,153,...,40.573849649000074,-74.10549615599997,"{'latitude': '40.573849649', 'longitude': '-74...",PATROL BORO STATEN ISLAND,18-24,WHITE HISPANIC,F,NaN,NaN,NaN
1,918690013,2011-01-01T00:00:00.000,00:01:00,2011-12-31T00:00:00.000,23:59:00,9,2018-05-03T00:00:00.000,116,SEX CRIMES,168,...,40.72655401900005,-73.98782842699995,"{'latitude': '40.726554019', 'longitude': '-73...",PATROL BORO MAN SOUTH,<18,WHITE HISPANIC,M,NaN,NaN,NaN
2,393269890,2011-01-01T00:00:00.000,09:00:00,2013-12-31T00:00:00.000,00:00:00,40,2018-05-21T00:00:00.000,109,GRAND LARCENY,432,...,40.81846860400003,-73.93026577299997,"{'latitude': '40.818468604', 'longitude': '-73...",PATROL BORO BRONX,45-64,BLACK,M,NaN,NaN,NaN
3,166585624,2011-01-01T00:00:00.000,12:00:00,NaN,NaN,79,2018-01-12T00:00:00.000,233,SEX CRIMES,175,...,40.688872153000034,-73.94452903199993,"{'latitude': '40.688872153', 'longitude': '-73...",PATROL BORO BKLYN NORTH,<18,WHITE HISPANIC,F,NaN,NaN,NaN
4,529567592,2011-01-01T00:00:00.000,08:00:00,2014-12-31T00:00:00.000,23:55:00,23,2018-01-02T00:00:00.000,116,SEX CRIMES,177,...,40.78926022400003,-73.94771000099996,"{'latitude': '40.789260224', 'longitude': '-73...",PATROL BORO MAN NORTH,<18,BLACK HISPANIC,F,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,710779367,2011-01-01T00:00:00.000,01:00:00,2011-01-01T00:00:00.000,01:10:00,26,2011-01-01T00:00:00.000,578,HARRASSMENT 2,638,...,40.814093699,-73.959297888,"{'latitude': '40.814093699', 'longitude': '-73...",PATROL BORO MAN NORTH,45-64,WHITE HISPANIC,F,NA,NaN,NaN
996,350192147,2011-01-01T00:00:00.000,11:00:00,2011-01-01T00:00:00.000,11:20:00,47,2011-01-01T00:00:00.000,106,FELONY ASSAULT,105,...,40.890421651,-73.863424427,"{'latitude': '40.890421651', 'longitude': '-73...",PATROL BORO BRONX,18-24,WHITE HISPANIC,F,NA,NaN,NaN
997,847700033,2011-01-01T00:00:00.000,02:28:00,NaN,NaN,123,2011-01-01T00:00:00.000,347,INTOXICATED & IMPAIRED DRIVING,905,...,40.505535647,-74.238183979,"{'latitude': '40.505535647', 'longitude': '-74...",PATROL BORO STATEN ISLAND,NaN,UNKNOWN,E,NA,NaN,NaN
998,803964043,2011-01-01T00:00:00.000,05:30:00,NaN,NaN,60,2011-01-10T00:00:00.000,578,HARRASSMENT 2,637,...,40.579780195,-73.998424655,"{'latitude': '40.579780195', 'longitude': '-73...",PATROL BORO BKLYN SOUTH,45-64,BLACK,F,NA,NaN,NaN
999,555882818,2011-01-01T00:00:00.000,17:30:00,NaN,NaN,75,2011-01-01T00:00:00.000,341,PETIT LARCENY,321,...,40.669728687,-73.861471916,"{'latitude': '40.669728687', 'longitude': '-73...",PATROL BORO BKLYN NORTH,45-64,BLACK,F,NA,NaN,NaN

In [73]:
import geopy
import pandas as pd

from tqdm import tqdm
tqdm.pandas()

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="njit-app")

from geopy.extra.rate_limiter import RateLimiter
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)

nyc_crime['location'] =nyc_crime.progress_apply(lambda row: reverse((row['latitude'], row['longitude'])),axis=1)

def parse_zipcode(location):
    if location and location.raw.get('address') and location.raw['address'].get('postcode'):
        return location.raw['address']['postcode']
    else:
        return None
nyc_crime['zipcode'] = nyc_crime['location'].apply(parse_zipcode)

 47%|████▋     | 466/1000 [07:48<09:03,  1.02s/it]WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /reverse?lat=40.748616987&lon=-74.000420103&format=json&addressdetails=1
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ReadTimeoutError("HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Read timed out. (read timeout=1)")': /reverse?lat=40.748616987&lon=-74.000420103&format=json&addressdetails=1
100%|██████████| 1000/1000 [16:50<00:00,  1.01s/it]

In [38]:
#nyc_crime['zipcode']=nyc_crime['Zipcode']
crime['zipcode']=crime['Zipcode']

KeyError: 'Zipcode'

In [40]:
# NYC Complaint Current does not have zipcode column! Only historic version has it ?!?!?
crime['POLICEPRECINCT']=crime['ADDR_PCT_CD']

In [41]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531768 entries, 0 to 531767
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                531768 non-null  object
 1   ADDR_PCT_CD               531729 non-null  float64
 2   BORO_NM                   531768 non-null  object
 3   CMPLNT_FR_DT              531768 non-null  object
 4   CMPLNT_FR_TM              531768 non-null  object
 5   CMPLNT_TO_DT              492566 non-null  object
 6   CMPLNT_TO_TM              531768 non-null  object
 7   CRM_ATPT_CPTD_CD          531768 non-null  object
 8   HADEVELOPT                531768 non-null  object
 9   HOUSING_PSA               33943 non-null   float64
 10  JURISDICTION_CODE         531768 non-null  int64
 11  JURIS_DESC                531768 non-null  object
 12  KY_CD                     531768 non-null  int64
 13  LAW_CAT_CD                531768 non-null  object
 14  LOC_OF_OCCUR_DESC         531768 non-null  object
 15  OFNS_DESC                 531768 non-null  object
 16  PARKS_NM                  531768 non-null  object
 17  PATROL_BORO               531768 non-null  object
 18  PD_CD                     531190 non-null  float64
 19  PD_DESC                   531768 non-null  object
 20  PREM_TYP_DESC             531768 non-null  object
 21  RPT_DT                    531768 non-null  object
 22  STATION_NAME              531768 non-null  object
 23  SUSP_AGE_GROUP            531768 non-null  object
 24  SUSP_RACE                 531768 non-null  object
 25  SUSP_SEX                  531768 non-null  object
 26  TRANSIT_DISTRICT          11289 non-null   float64
 27  VIC_AGE_GROUP             531768 non-null  object
 28  VIC_RACE                  531768 non-null  object
 29  VIC_SEX                   531768 non-null  object
 30  X_COORD_CD                531759 non-null  float64
 31  Y_COORD_CD                531759 non-null  float64
 32  Latitude                  531759 non-null  float64
 33  Longitude                 531759 non-null  float64
 34  Lat_Lon                   531759 non-null  object
 35  New Georeferenced Column  531759 non-null  object
 36  POLICEPRECINCT            531729 non-null  float64
dtypes: float64(9), int64(2), object(26)
memory usage: 150.1+ MB

In [74]:
#nyc_crime['zipcode']=nyc_crime['zipcode'].astype('float64')
#crime['zipcode']=crime['zipcode'].astype('float64')

In [43]:
crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531768 entries, 0 to 531767
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   CMPLNT_NUM                531768 non-null  object
 1   ADDR_PCT_CD               531729 non-null  float64
 2   BORO_NM                   531768 non-null  object
 3   CMPLNT_FR_DT              531768 non-null  object
 4   CMPLNT_FR_TM              531768 non-null  object
 5   CMPLNT_TO_DT              492566 non-null  object
 6   CMPLNT_TO_TM              531768 non-null  object
 7   CRM_ATPT_CPTD_CD          531768 non-null  object
 8   HADEVELOPT                531768 non-null  object
 9   HOUSING_PSA               33943 non-null   float64
 10  JURISDICTION_CODE         531768 non-null  int64
 11  JURIS_DESC                531768 non-null  object
 12  KY_CD                     531768 non-null  int64
 13  LAW_CAT_CD                531768 non-null  object
 14  LOC_OF_OCCUR_DESC         531768 non-null  object
 15  OFNS_DESC                 531768 non-null  object
 16  PARKS_NM                  531768 non-null  object
 17  PATROL_BORO               531768 non-null  object
 18  PD_CD                     531190 non-null  float64
 19  PD_DESC                   531768 non-null  object
 20  PREM_TYP_DESC             531768 non-null  object
 21  RPT_DT                    531768 non-null  object
 22  STATION_NAME              531768 non-null  object
 23  SUSP_AGE_GROUP            531768 non-null  object
 24  SUSP_RACE                 531768 non-null  object
 25  SUSP_SEX                  531768 non-null  object
 26  TRANSIT_DISTRICT          11289 non-null   float64
 27  VIC_AGE_GROUP             531768 non-null  object
 28  VIC_RACE                  531768 non-null  object
 29  VIC_SEX                   531768 non-null  object
 30  X_COORD_CD                531759 non-null  float64
 31  Y_COORD_CD                531759 non-null  float64
 32  Latitude                  531759 non-null  float64
 33  Longitude                 531759 non-null  float64
 34  Lat_Lon                   531759 non-null  object
 35  New Georeferenced Column  531759 non-null  object
 36  POLICEPRECINCT            531729 non-null  float64
dtypes: float64(9), int64(2), object(26)
memory usage: 150.1+ MB

In [45]:
crime['DATE'] = pd.to_datetime(crime['CMPLNT_FR_DT'], errors = 'coerce').dt.date

In [46]:
crime['HOUR']=pd.to_datetime(crime['CMPLNT_FR_TM'], errors = 'coerce').dt.hour

In [47]:
crime['HOUR']

0          0
1          5
2         20
3         23
4         18
          ..
531763    15
531764    17
531765     2
531766    15
531767     8
Name: HOUR, Length: 531768, dtype: int64

In [49]:
crime['DATE']

0         2022-06-20
1         2022-06-27
2         2022-07-08
3         2022-07-15
4         2020-06-06
             ...
531763    2022-12-28
531764    2022-12-29
531765    2022-12-26
531766    2022-12-27
531767    2022-12-30
Name: DATE, Length: 531768, dtype: object

In [59]:
#df=ems.merge(crime, on=['zipcode', 'Date', 'hour'], how='inner')
#df.rename(columns={"A": "a", "B": "c"})
ems.rename(columns={'Date': 'DATE', 'Hour': 'HOUR'}, inplace=True)

In [62]:
ems.rename(columns={'Hour': 'HOUR'}, inplace=True)

MemoryError: Unable to allocate 4.14 GiB for an array with shape (24, 23167058) and data type object

In [60]:
ems.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23167058 entries, 0 to 23167057
Data columns (total 34 columns):
 #   Column                          Dtype
---  ------                          -----
 0   CAD_INCIDENT_ID                 int64
 1   INCIDENT_DATETIME               object
 2   INITIAL_CALL_TYPE               object
 3   INITIAL_SEVERITY_LEVEL_CODE     int64
 4   FINAL_CALL_TYPE                 object
 5   FINAL_SEVERITY_LEVEL_CODE       int64
 6   FIRST_ASSIGNMENT_DATETIME       object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  object
 8   DISPATCH_RESPONSE_SECONDS_QY    object
 9   FIRST_ACTIVATION_DATETIME       object
 10  FIRST_ON_SCENE_DATETIME         object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  object
 12  INCIDENT_RESPONSE_SECONDS_QY    object
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   object
 14  FIRST_TO_HOSP_DATETIME          object
 15  FIRST_HOSP_ARRIVAL_DATETIME     object
 16  INCIDENT_CLOSE_DATETIME         object
 17  HELD_INDICATOR                  object
 18  INCIDENT_DISPOSITION_CODE       float64
 19  BOROUGH                         object
 20  INCIDENT_DISPATCH_AREA          object
 21  ZIPCODE                         object
 22  POLICEPRECINCT                  float64
 23  CITYCOUNCILDISTRICT             float64
 24  COMMUNITYDISTRICT               float64
 25  COMMUNITYSCHOOLDISTRICT         float64
 26  CONGRESSIONALDISTRICT           float64
 27  REOPEN_INDICATOR                object
 28  SPECIAL_EVENT_INDICATOR         object
 29  STANDBY_INDICATOR               object
 30  TRANSFER_INDICATOR              object
 31  DATE                            object
 32  hour                            int64
 33  zipcode                         object
dtypes: float64(6), int64(4), object(24)
memory usage: 5.9+ GB

In [63]:
#df=ems.merge(crime, on=['POLICEPRECINCT', 'DATE', 'HOUR'], how='inner')
#left_on='species_id', right_on='species_id'
df=ems.merge(crime, left_on=['POLICEPRECINCT', 'DATE', 'hour'], right_on=['POLICEPRECINCT', 'DATE', 'HOUR'],how='inner')

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369640 entries, 0 to 369639
Data columns (total 71 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CAD_INCIDENT_ID                 369640 non-null  int64
 1   INCIDENT_DATETIME               369640 non-null  object
 2   INITIAL_CALL_TYPE               369640 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     369640 non-null  int64
 4   FINAL_CALL_TYPE                 369640 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       369640 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       366312 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  369640 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    369640 non-null  object
 9   FIRST_ACTIVATION_DATETIME       365767 non-null  object
 10  FIRST_ON_SCENE_DATETIME         355889 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  369640 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    355873 non-null  object
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   355889 non-null  object
 14  FIRST_TO_HOSP_DATETIME          224976 non-null  object
 15  FIRST_HOSP_ARRIVAL_DATETIME     223955 non-null  object
 16  INCIDENT_CLOSE_DATETIME         369599 non-null  object
 17  HELD_INDICATOR                  369640 non-null  object
 18  INCIDENT_DISPOSITION_CODE       366048 non-null  float64
 19  BOROUGH                         369640 non-null  object
 20  INCIDENT_DISPATCH_AREA          369640 non-null  object
 21  ZIPCODE                         369625 non-null  object
 22  POLICEPRECINCT                  369631 non-null  float64
 23  CITYCOUNCILDISTRICT             369631 non-null  float64
 24  COMMUNITYDISTRICT               369631 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         369449 non-null  float64
 26  CONGRESSIONALDISTRICT           369631 non-null  float64
 27  REOPEN_INDICATOR                369640 non-null  object
 28  SPECIAL_EVENT_INDICATOR         369640 non-null  object
 29  STANDBY_INDICATOR               369640 non-null  object
 30  TRANSFER_INDICATOR              369640 non-null  object
 31  DATE                            369640 non-null  object
 32  hour                            369640 non-null  int64
 33  zipcode                         369625 non-null  object
 34  CMPLNT_NUM                      369640 non-null  object
 35  ADDR_PCT_CD                     369631 non-null  float64
 36  BORO_NM                         369640 non-null  object
 37  CMPLNT_FR_DT                    369640 non-null  object
 38  CMPLNT_FR_TM                    369640 non-null  object
 39  CMPLNT_TO_DT                    333102 non-null  object
 40  CMPLNT_TO_TM                    369640 non-null  object
 41  CRM_ATPT_CPTD_CD                369640 non-null  object
 42  HADEVELOPT                      369640 non-null  object
 43  HOUSING_PSA                     26236 non-null   float64
 44  JURISDICTION_CODE               369640 non-null  int64
 45  JURIS_DESC                      369640 non-null  object
 46  KY_CD                           369640 non-null  int64
 47  LAW_CAT_CD                      369640 non-null  object
 48  LOC_OF_OCCUR_DESC               369640 non-null  object
 49  OFNS_DESC                       369640 non-null  object
 50  PARKS_NM                        369640 non-null  object
 51  PATROL_BORO                     369640 non-null  object
 52  PD_CD                           369129 non-null  float64
 53  PD_DESC                         369640 non-null  object
 54  PREM_TYP_DESC                   369640 non-null  object
 55  RPT_DT                          369640 non-null  object
 56  STATION_NAME                    369640 non-null  object
 57  SUSP_AGE_GROUP                  369640 non-null  object
 58  SUSP_RACE                       369640 non-null  object
 59  SUSP_SEX                        369640 non-null  object
 60  TRANSIT_DISTRICT                8949 non-null    float64
 61  VIC_AGE_GROUP                   369640 non-null  object
 62  VIC_RACE                        369640 non-null  object
 63  VIC_SEX                         369640 non-null  object
 64  X_COORD_CD                      369640 non-null  float64
 65  Y_COORD_CD                      369640 non-null  float64
 66  Latitude                        369640 non-null  float64
 67  Longitude                       369640 non-null  float64
 68  Lat_Lon                         369640 non-null  object
 69  New Georeferenced Column        369640 non-null  object
 70  HOUR                            369640 non-null  int64
dtypes: float64(14), int64(7), object(50)
memory usage: 203.0+ MB

In [65]:
df.to_csv('ems_crime_join.csv')

In [ ]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf

# context config/setup 
sc = SparkContext(conf=SparkConf().setMaster('local[8]'))
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.execution.arrow.enabled", "true")

# copy pandas df's into spark df's
t1 = spark.createDataFrame(ratings_df)
t2 = spark.createDataFrame(links_df)
t3 = spark.createDataFrame(metas_df)

# normal spark join (runs on cluster default partioning)
df = t1.join(t2, t1['movieId']==t2['movieId']).
            join(t3, t2['imdbId'] == t3['imbd_id'])
            
# broadcast smaller tables to worker
bc_df = t1.join(func.broadcast(t2), t1['movieId']==t2['movieId']).
            join(func.broadcast(t3), t2['imdbId'] == t3['imbd_id'])
            
# group by results
df.groupBy('title').agg(func.mean('rating').
    alias('avg_rating'),func.count('rating').
    alias('r_count')).filter('r_count >2').
    filter('avg_rating > 4.5').show()

In [47]:
df.to_csv('test.csv')

In [55]:
tail -1000 'EMS_Incident_Dispatch_Data.csv' > 'ems_1000.csv'

SyntaxError: invalid syntax (<ipython-input-55-92e7ed62a253>, line 1)

In [62]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()
ems_df = spark.read.csv('EMS_Incident_Dispatch_Data.csv')
ems_df.printSchema()

KeyboardInterrupt:

In [60]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824030 sha256=d79a4a97c9e70df1c18299bf1cb54d7b4ba5d67e07c4246e91badca4a5e78752
  Stored in directory: c:\users\paulds3\appdata\local\pip\cache\wheels\b1\59\a0\a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [11]:
crime=pd.read_csv('NYPD_Complaint_Data_Current_Ytd.csv')

In [16]:
crime.sort_values(by='RPT_DT',ascending=False)

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
531767,261159744,101.0,QUEENS,12/30/2022,08:45:00,12/30/2022,09:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,WHITE HISPANIC,F,1043198.0,155066.0,40.592103,-73.787749,"(40.592103, -73.787749)",POINT (-73.787749 40.592103)
527354,261176715,18.0,MANHATTAN,12/31/2022,17:45:00,12/31/2022,17:45:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,988324.0,215536.0,40.758273,-73.985293,"(40.758273, -73.985293)",POINT (-73.985293 40.758273)
527484,261173477,109.0,QUEENS,12/30/2022,15:00:00,12/30/2022,16:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1030722.0,214404.0,40.755045,-73.832260,"(40.755045, -73.83226)",POINT (-73.83226 40.755045)
527473,261161504,109.0,QUEENS,12/30/2022,17:54:00,12/31/2022,05:19:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1026628.0,227067.0,40.789821,-73.846958,"(40.789821, -73.846958)",POINT (-73.846958 40.789821)
527471,261170527,70.0,BROOKLYN,12/31/2022,10:55:00,12/31/2022,11:10:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,998899.0,169688.0,40.632421,-73.947222,"(40.632421, -73.947222)",POINT (-73.947222 40.632421)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21120,238514345,103.0,QUEENS,01/01/2022,10:25:00,01/01/2022,10:35:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,M,1037301.0,194458.0,40.700260,-73.808673,"(40.70025999, -73.80867321)",POINT (-73.80867321 40.70025999)
21125,238533132,77.0,BROOKLYN,01/01/2022,07:05:00,01/01/2022,07:10:00,COMPLETED,(null),365.0,...,NaN,45-64,BLACK,F,1004837.0,185410.0,40.675562,-73.925779,"(40.675562, -73.925779)",POINT (-73.925779 40.675562)
21146,238521000,110.0,QUEENS,01/01/2022,18:05:00,01/01/2022,18:09:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1016572.0,210045.0,40.743143,-73.883354,"(40.743143, -73.883354)",POINT (-73.883354 40.743143)
10993,238493003,76.0,BROOKLYN,12/31/2021,23:50:00,01/01/2022,00:10:00,COMPLETED,(null),266.0,...,NaN,25-44,BLACK,F,982347.0,184973.0,40.674386,-74.006858,"(40.674386, -74.006858)",POINT (-74.006858 40.674386)
10785,238514005,1.0,MANHATTAN,01/01/2022,08:09:00,01/01/2022,08:11:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,982198.0,197965.0,40.710046,-74.007399,"(40.710046, -74.007399)",POINT (-74.007399 40.710046)

In [4]:
import pandas as pd
#nyc_crime = pd.read_csv('NYPD_Complaint_Data_Historic.csv', nrows=1000)

ems_crime = pd.read_csv('ems_crime_join.csv',  index_col=0)

C:\Users\PaulDS3\anaconda3_2020_07\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (22,34,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
ems_crime

,CAD_INCIDENT_ID,INCIDENT_DATETIME,INITIAL_CALL_TYPE,INITIAL_SEVERITY_LEVEL_CODE,FINAL_CALL_TYPE,FINAL_SEVERITY_LEVEL_CODE,FIRST_ASSIGNMENT_DATETIME,VALID_DISPATCH_RSPNS_TIME_INDC,DISPATCH_RESPONSE_SECONDS_QY,FIRST_ACTIVATION_DATETIME,...,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column,HOUR
0,110012548,01/01/2011 08:30:11 AM,ABDPN,5,ABDPN,5,01/01/2011 08:30:26 AM,Y,15,01/01/2011 08:30:37 AM,...,<18,BLACK,F,1046315.0,187088.0,40.679981,-73.776234,"(40.6799807384666, -73.7762339071953)",POINT (-73.7762339071953 40.6799807384666),8
1,110012584,01/01/2011 08:44:32 AM,ASTHMB,2,ASTHMB,2,01/01/2011 08:44:44 AM,Y,12,01/01/2011 08:44:54 AM,...,<18,BLACK,F,1046315.0,187088.0,40.679981,-73.776234,"(40.6799807384666, -73.7762339071953)",POINT (-73.7762339071953 40.6799807384666),8
2,110012638,01/01/2011 08:57:07 AM,SICK,4,SICK,4,01/01/2011 08:57:36 AM,Y,29,01/01/2011 08:58:33 AM,...,<18,BLACK,F,1046315.0,187088.0,40.679981,-73.776234,"(40.6799807384666, -73.7762339071953)",POINT (-73.7762339071953 40.6799807384666),8
3,110012795,01/01/2011 09:46:00 AM,EDP,7,EDP,7,01/01/2011 09:47:16 AM,Y,76,01/01/2011 09:47:25 AM,...,UNKNOWN,UNKNOWN,D,983907.0,199958.0,40.715518,-74.001236,"(40.715518, -74.001236)",POINT (-74.001236 40.715518),9
4,110013879,01/01/2011 03:19:42 PM,UNKNOW,3,UNKNOW,3,01/01/2011 03:21:13 PM,Y,91,01/01/2011 03:21:23 PM,...,<18,WHITE HISPANIC,F,1005028.0,234516.0,40.810352,-73.924942,"(40.8103518634571, -73.924942325642)",POINT (-73.924942325642 40.8103518634571),15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369635,220904731,03/31/2022 11:58:10 PM,INJURY,5,INJURY,5,03/31/2022 11:58:44 PM,Y,34,03/31/2022 11:58:53 PM,...,25-44,ASIAN / PACIFIC ISLANDER,M,982113.0,209104.0,40.740619,-74.007711,"(40.740619, -74.007711)",POINT (-74.007711 40.740619),23
369636,220904693,03/31/2022 11:39:25 PM,MVAINJ,4,MVAINJ,4,03/31/2022 11:39:40 PM,Y,15,03/31/2022 11:39:49 PM,...,25-44,ASIAN / PACIFIC ISLANDER,F,1031446.0,243376.0,40.834561,-73.829444,"(40.834561, -73.829444)",POINT (-73.829444 40.834561),23
369637,220904698,03/31/2022 11:41:04 PM,MVAINJ,4,MVAINJ,4,03/31/2022 11:41:43 PM,Y,39,03/31/2022 11:42:00 PM,...,25-44,ASIAN / PACIFIC ISLANDER,F,1031446.0,243376.0,40.834561,-73.829444,"(40.834561, -73.829444)",POINT (-73.829444 40.834561),23
369638,220904695,03/31/2022 11:39:40 PM,INJURY,5,INJURY,5,03/31/2022 11:39:53 PM,Y,13,03/31/2022 11:40:20 PM,...,25-44,WHITE,M,1025140.0,201074.0,40.718485,-73.852488,"(40.718485, -73.852488)",POINT (-73.852488 40.718485),23
369639,220904727,03/31/2022 11:56:23 PM,UNC,2,UNC,2,03/31/2022 11:56:45 PM,Y,22,03/31/2022 11:56:59 PM,...,25-44,WHITE,M,1025140.0,201074.0,40.718485,-73.852488,"(40.718485, -73.852488)",POINT (-73.852488 40.718485),23

In [7]:
ems_crime.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369640 entries, 0 to 369639
Data columns (total 71 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   CAD_INCIDENT_ID                 369640 non-null  int64
 1   INCIDENT_DATETIME               369640 non-null  object
 2   INITIAL_CALL_TYPE               369640 non-null  object
 3   INITIAL_SEVERITY_LEVEL_CODE     369640 non-null  int64
 4   FINAL_CALL_TYPE                 369640 non-null  object
 5   FINAL_SEVERITY_LEVEL_CODE       369640 non-null  int64
 6   FIRST_ASSIGNMENT_DATETIME       366312 non-null  object
 7   VALID_DISPATCH_RSPNS_TIME_INDC  369640 non-null  object
 8   DISPATCH_RESPONSE_SECONDS_QY    369640 non-null  object
 9   FIRST_ACTIVATION_DATETIME       365767 non-null  object
 10  FIRST_ON_SCENE_DATETIME         355889 non-null  object
 11  VALID_INCIDENT_RSPNS_TIME_INDC  369640 non-null  object
 12  INCIDENT_RESPONSE_SECONDS_QY    355873 non-null  object
 13  INCIDENT_TRAVEL_TM_SECONDS_QY   355889 non-null  object
 14  FIRST_TO_HOSP_DATETIME          224976 non-null  object
 15  FIRST_HOSP_ARRIVAL_DATETIME     223955 non-null  object
 16  INCIDENT_CLOSE_DATETIME         369599 non-null  object
 17  HELD_INDICATOR                  369640 non-null  object
 18  INCIDENT_DISPOSITION_CODE       366048 non-null  float64
 19  BOROUGH                         369640 non-null  object
 20  INCIDENT_DISPATCH_AREA          369640 non-null  object
 21  ZIPCODE                         369625 non-null  object
 22  POLICEPRECINCT                  369631 non-null  float64
 23  CITYCOUNCILDISTRICT             369631 non-null  float64
 24  COMMUNITYDISTRICT               369631 non-null  float64
 25  COMMUNITYSCHOOLDISTRICT         369449 non-null  float64
 26  CONGRESSIONALDISTRICT           369631 non-null  float64
 27  REOPEN_INDICATOR                369640 non-null  object
 28  SPECIAL_EVENT_INDICATOR         369640 non-null  object
 29  STANDBY_INDICATOR               369640 non-null  object
 30  TRANSFER_INDICATOR              369640 non-null  object
 31  DATE                            369640 non-null  object
 32  hour                            369640 non-null  int64
 33  zipcode                         369625 non-null  object
 34  CMPLNT_NUM                      369640 non-null  object
 35  ADDR_PCT_CD                     369631 non-null  float64
 36  BORO_NM                         369640 non-null  object
 37  CMPLNT_FR_DT                    369640 non-null  object
 38  CMPLNT_FR_TM                    369640 non-null  object
 39  CMPLNT_TO_DT                    333102 non-null  object
 40  CMPLNT_TO_TM                    369640 non-null  object
 41  CRM_ATPT_CPTD_CD                369640 non-null  object
 42  HADEVELOPT                      369640 non-null  object
 43  HOUSING_PSA                     26236 non-null   float64
 44  JURISDICTION_CODE               369640 non-null  int64
 45  JURIS_DESC                      369640 non-null  object
 46  KY_CD                           369640 non-null  int64
 47  LAW_CAT_CD                      369640 non-null  object
 48  LOC_OF_OCCUR_DESC               369640 non-null  object
 49  OFNS_DESC                       369640 non-null  object
 50  PARKS_NM                        369640 non-null  object
 51  PATROL_BORO                     369640 non-null  object
 52  PD_CD                           369129 non-null  float64
 53  PD_DESC                         369640 non-null  object
 54  PREM_TYP_DESC                   369640 non-null  object
 55  RPT_DT                          369640 non-null  object
 56  STATION_NAME                    369640 non-null  object
 57  SUSP_AGE_GROUP                  369640 non-null  object
 58  SUSP_RACE                       369640 non-null  object
 59  SUSP_SEX                        369640 non-null  object
 60  TRANSIT_DISTRICT                8949 non-null    float64
 61  VIC_AGE_GROUP                   369640 non-null  object
 62  VIC_RACE                        369640 non-null  object
 63  VIC_SEX                         369640 non-null  object
 64  X_COORD_CD                      369640 non-null  float64
 65  Y_COORD_CD                      369640 non-null  float64
 66  Latitude                        369640 non-null  float64
 67  Longitude                       369640 non-null  float64
 68  Lat_Lon                         369640 non-null  object
 69  New Georeferenced Column        369640 non-null  object
 70  HOUR                            369640 non-null  int64
dtypes: float64(14), int64(7), object(50)
memory usage: 203.0+ MB

In [11]:
import datetime
from datetime import datetime

In [31]:
pd.to_datetime(ems_crime['FIRST_ON_SCENE_DATETIME']).dt.hour-pd.to_datetime(ems_crime['CMPLNT_FR_TM']).dt.hour

0          0.0
1          1.0
2          1.0
3          NaN
4          0.0
          ...
369635   -23.0
369636     0.0
369637     0.0
369638     0.0
369639   -23.0
Length: 369640, dtype: float64

In [30]:
pd.to_datetime(ems_crime['CMPLNT_FR_TM']).dt.hour

0          8
1          8
2          8
3          9
4         15
          ..
369635    23
369636    23
369637    23
369638    23
369639    23
Name: CMPLNT_FR_TM, Length: 369640, dtype: int64

In [14]:
pd.to_datetime(ems_crime['FIRST_ON_SCENE_DATETIME']).dt.minute

0         38.0
1          0.0
2          6.0
3          NaN
4         25.0
          ...
369635     8.0
369636    43.0
369637    47.0
369638    45.0
369639     3.0
Name: FIRST_ON_SCENE_DATETIME, Length: 369640, dtype: float64

In [15]:
pd.to_datetime(ems_crime['FIRST_ON_SCENE_DATETIME']).dt.time

0         08:38:15
1         09:00:48
2         09:06:19
3              NaT
4         15:25:55
            ...
369635    00:08:01
369636    23:43:25
369637    23:47:44
369638    23:45:48
369639    00:03:58
Name: FIRST_ON_SCENE_DATETIME, Length: 369640, dtype: object

In [16]:
pd.to_datetime(ems_crime['FIRST_ON_SCENE_DATETIME']).dt.time-pd.to_datetime(ems_crime['CMPLNT_FR_TM']).dt.time

0         08:00:00
1         08:00:00
2         08:00:00
3         09:00:00
4         15:00:00
            ...
369635    23:00:00
369636    23:50:00
369637    23:50:00
369638    23:00:00
369639    23:00:00
Name: CMPLNT_FR_TM, Length: 369640, dtype: object

In [26]:
'''import datetime

time1 = datetime.time(12, 30, 0)
time2 = datetime.time(10, 45, 0)

# Convert times to datetime objects
dt1 = datetime.datetime.combine(ems_crime['FIRST_ON_SCENE_DATETIME']).dt.date, time1)
dt2 = datetime.datetime.combine(datetime.date.today(), time2)

# Subtract datetime objects to get timedelta duration
duration = dt1 - dt2
print(duration) # Outputs: 1:45:00
'''
#ems_crime['ems_on_scene_time']=pd.to_datetime(ems_crime['FIRST_ON_SCENE_DATETIME']).dt.time
#ems_crime['time_of_crime']=pd.to_datetime(ems_crime['CMPLNT_FR_TM']).dt.time

ems_crime['ems_on_scene_time']=ems_crime['FIRST_ON_SCENE_DATETIME'].time()

AttributeError: 'Series' object has no attribute 'time'

In [29]:
ems_crime['ems_on_scene_time'].astype('str')

0         08:38:15
1         09:00:48
2         09:06:19
3              NaT
4         15:25:55
            ...
369635    00:08:01
369636    23:43:25
369637    23:47:44
369638    23:45:48
369639    00:03:58
Name: ems_on_scene_time, Length: 369640, dtype: object

In [25]:
ems_crime['ems_crime_diff_tm']=pd.Timedelta(ems_crime['ems_on_scene_time']-ems_crime['time_of_crime']).seconds
ems_crime['ems_crime_diff_tm']

TypeError: unsupported operand type(s) for -: 'datetime.time' and 'datetime.time'